.item,
.colored,
.targeted,
.secTarget {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 40px;
}

#field {
  padding-top: 30px;
  margin: 0 auto 30px auto;
  width: 60%;
}
#grid{
  justify-content: center;
}
.colored {
  background-color: cadetblue;
}

.targeted {
  background-color: chocolate;
}

.secTarget {
  background-color: crimson;
}

#btnWrapper {
  display: flex;
  justify-content: center;
}

#btnWrapper button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px auto;
  width: 50%;
  border-radius: 4px;
  font-size: 30px;
}