.item {
  color: #fff;
  flex: 0 1 23%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 40px;
}

#field {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.colored {
  background-color: cadetblue;
}

.targeted {
  background-color: crimson;
}

.secTarget{
  background-color: chocolate;
}

#btnWrapper{
  margin-top: 20px;
}

#btnWrapper button{
  background-color: cornflowerblue;
  padding: 10px 17px;
  border-radius: 4px;
  color: #fff;
}